@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* HEADER */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none !important;
    list-style: none;
    color: white !important;
}

.headcol, .footer, .cuadrado, .section2head li:hover{
    background-image: url(../img/violetafondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

b, main a, .divideo a, .divideo p{
    background-image: url(../img/violetafondoMAIN.png);
}

.cuadrado, .section3 div, .section4 .texto, section form .divmicuenta div, .main2 section div, .main3 div  {
    background-image: url(../img/fondonegro.jpg);
    background-position: center;
    background-size: cover;
}
.cuadrado a:hover,.section3 div a:hover,.divideo,.divideo a:hover {
    background-image: url(../img/neontarjeta.png);
}

.headcol{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1head h1{
    font-size: 45px;
    font-weight: 450;
    padding: 18px;
}
.section1head{
    display: flex;
    align-items: center;
}
.section2head li{
    padding: 35px 40px 35px 40px;
    display: inline-block;
}
.section3head input{
    color: black;
    border: 2px black solid;
    padding: 10px;
    border-radius: 20px;
    width: 290px;
    font-size: 15px;
}
.section4head{
    display: flex;
}
.section4head a img{
    height: 45px;
    width: 45px;
    margin-right: 25px;
    margin-left: 10px;
}
/* MEDIA QUERIES HEADER */ 

@media screen and (max-width:1190px){
    .headcol a h1{
        font-size: 35px;
    }
    .headcol .logo{
        width: 55px;
        height: 55px;
    }
    .headcol input{
        width: 200px;
    }
    .headcol li a{
        font-size: 16px;
    }
    .headcol a img{
        width: 35px;
        height: 35px;
    }
}
@media screen and (max-width:1035px){
    .headcol input{
        width: 180px;
    }
    .headcol .logo{
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width:995px){
    .headcol a h1{
        font-size: 30px;
    }
    .headcol input{
        width: 160px;
    }
    .headcol li a{
        font-size: 14px;
    }
}
@media screen and (max-width:920px){
    .headcol input{ 
        display: none;
    }
    .headcol li a{
        font-size: 12px;
    }
}
@media screen and (max-width:740px){
    .headcol a h1{
        font-size: 25px;
    }
    .logo{
        display: none;
    }
}
@media screen and (max-width:675px){
    .headcol{
        justify-content: center;
    }
    .headcol li{
        font-size: 10px;
    }
    .section4head .perf{
        display: none;
    }
}
@media screen and (max-width:600px){
    .headcol li{
        display: none;
    }
}

/* MAIN INDEX */
.main1{
    background-image: url(../img/violetafondoMAIN2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/** SECTION 1**/
.section1{
    border-top: 2px black solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section1 img{
    height: 75px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* MEDIA QUERIES SECTION1 */

@media screen and (max-width:1100px){
    .section1 .img6{
        display: none;
    }
}
@media screen and (max-width:950px){
    .section1 .img5{
        display: none;
    }
}
@media screen and (max-width:765px){
    .section1 .img4{
        display: none;
    }
}
@media screen and (max-width:665px){
    .section1{
        display: none;
    }
}

/** SECTION 2 **/
.section2hero{
    background-image: url(../img/benelli302s.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
    letter-spacing: 1px;
}
.section2hero .cuadrado{
    padding: 70px;
    border: 2px black solid;
    align-items: center;
}
.cuadrado h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.cuadrado h3{
    margin-bottom: 15px;
    font-size: 25px;
}
.cuadrado .ph1{
    font-size: 17px;
    margin-bottom: 15px;
}
.cuadrado .ph2{
    font-size: 17px;
    margin-bottom: 45px;
}
.cuadrado a{
    padding: 15px;
    border-radius: 10px;
    border: 2px darkviolet solid;
}
/* MEDIA QUERIES SECTION 2 */

@media screen and (max-width:920px){
    .section2hero{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    .section2hero{
        background-image: url(../img/Benellihero.png);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    .section2hero .cuadrado{
        text-align: center;
        padding: 20px;
    }
    .cuadrado h2{
        margin-bottom: 10px;
    }
    .section2hero .ph2{
        margin-bottom: 25px;
    }
}
@media screen and (max-width:550px){
    .section2hero{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.8fr;
    }
}
/* SECTION CARROUSEL*/
.section5{
    background-color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}
.section5 h5{
    font-size: 20px;
    object-fit: cover;
}

/** H3 SECTION 3**/
.h3section{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    background-color: black;
    border-top: 6px white double;
    border-bottom: 6px white double;
    text-align: center;
}

/** SECTION 3 **/
.section3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section3 div{
    border: 2px darkviolet solid;
    border-radius: 8px;
    margin: 20px;
    width: 15rem;
    height: 24rem;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.section3 div:hover{
    transform: scale(1.07);
    transition: 300ms;
    object-fit: cover;
}
.section3 div img{
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    border: 2px black solid;
    border-radius: 8px;
}
.section3 div a{
    padding: 8px;
    border-radius: 10px;
    border: 2px darkviolet solid;
}

.section3 div h3{
    border: 2px darkviolet  double;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 10px;
}

/* MEDIA QUERIES SECTION 3 */

@media screen and (max-width:1020px){
    .section3{
        flex-wrap:wrap;
    }
}
@media screen and (max-width:580px){
    .section3 .div2-3, .div3-3, .div4-3{
        display: none;
    }
}

/*H4 SECTION 4 */
.h4section{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    background-color: black;
    border-top: 6px white double;
    border-bottom: 6px white double;
    text-align: center;
}


/** SECTION 4 **/
.section4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
}
.divideo{
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    text-align: center;
    width: 18rem;
    height: 27rem;
    padding: 15px;
    margin: 20px 20px 20px 30px;
}
.divideo:hover{
    transform: scale(1.09);
    transition: 300ms;
    object-fit: cover;
}
.divideo img{
    height: 220px;
    width: 220px;
    border: 2px black solid;
    border-radius: 8px;
}
.divideo h3{
    background-color: black;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 6px;
    border-radius: 8px;
    font-size: 25px;
}
.divideo h4{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    text-align: center;
    letter-spacing: 1px;
}
.divideo a{
    padding: 10px;
    border-radius: 10px;
    border: 2px darkviolet solid;
    background-color: black;
}
.divideo a:hover{
    background-image: url(../img/neontarjeta.png);
}
.section4 .texto p{
    text-align: center;
    margin: 20px;
    letter-spacing: 1px;
    font-size: 20px;
}
.section4 div iframe{
    width: 500px;
    height: 350px;
    margin: 20px 30px 20px 20px;
}
.section4 div iframe:hover{
    transform: scale(1.05);
    transition: 300ms;
    object-fit: cover;
}

/* QUERIES SECTION 4*/

@media screen and (max-width:1250px){
    .section4 div iframe{
        flex-wrap: wrap;
        width: 400px;
        height: 350px;
    }
    .section4 .texto p{
        font-size: 15px;
        min-width: 320px;
    }
}

@media screen and (max-width:1070px){
    .section4{
        flex-wrap: wrap;
    }
    .section4 .texto{
        font-size: 15px;
        min-width: 250px;
    }
    .section4 div iframe{
        width: 600px;
        height: 400px;
    }
}
@media screen and (max-width:820px){
    .section4{
        flex-wrap: wrap;
        align-items: center;
    }
}
@media screen and (max-width:820px){
    .section4 div iframe{
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width:400px){
    .section4 div iframe{
        width: 300px;
        height: 200px;
    }
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div1fot{
    padding: 30px;
    font-size: 20px;
}
.div1fot iframe{
    width: 300px;
    height: 170px;
}
.div1fot iframe:hover{
    transform: scale(1.10);
    transition: 200ms;
    object-fit: cover;
}
.div2fot ul{
    display: inline-block;
    padding-top: 10px;
}
.div2fot ul li{
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}
.div3fot ul li{
    padding-right: 25px;
}
.div3fot ul{
    display: inline-block;
    padding: 20px;
}
.div3fot img{
    margin: 15px;
    width: 35px;
    height: 35px;
}
.div3fot ul li:hover{
    transform: scale(1.10);
    transition: 300ms;
    object-fit: cover;
}

@media screen and (max-width:815px){
    .footer{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .div1fot iframe{
        width: 250px;
        height: 120px;
    }
}

/** MI CUENTA  CORREJIR CODIGO **/ 

.form1{
    align-items: center;
}
section form .divmicuenta div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin: 50px 0px 50px 500px;
    border: 2px white solid;
    width: 350px;
    height: 420px;
}
.divmicuenta div h1 {
    margin-bottom: 15px;
}
.divmicuenta input{
    color: black;
    margin-bottom: 15px;
    background-color: white;
    border: 2px darkviolet  solid;
    padding: 10px;
    width: 200px;
}
.divmicuenta a{
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    border: 2px darkviolet  solid;
    margin-top: 20px;
}