/* INICIAR SESION APARECE EN MEDIA QUERY*/
main{
    .iniciar-sesion{
        display: none;
        button{
            transform: scale(1.07);
            transition: 300ms;
            object-fit: cover;
            padding: 10px;
            margin: 10px;
            border-radius: 8px;
            border: 2px darkviolet double;
        }
    }
}

/* SECTION 1 */

main{
    .section1{
        border-top: 2px solid black;
        height: auto;
        margin: auto;
        overflow: hidden;
        .slider{
            @extend %flex;
            animation: scroll 40s linear infinite;
            -webkit-animation: scroll 40s linear infinite;
            width: calc(200px * 12);
            .slide{
                width: 180px;
                img{
                    width: 100%;
                    &:hover{
                        transform: scale(1.10);
                        transition: 300ms;
                    }
                }
            }
        }
    }
}

/* SECTION 2 HERO */

.section2hero{
    background-image: url(../img/benelli302s.png);
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
    letter-spacing: 1px;
    .cuadrado{
        padding: 70px;
        border: 2px black solid;
        align-items: center;
        div{
            h2{
                font-size: 35px;
                margin-bottom: 30px;
            }
            h3{
                margin-bottom: 15px;
                font-size: 25px;
            }
        }
        .ph1{
            font-size: 17px;
            margin-bottom: 15px;
        }
        .ph2{
            font-size: 17px;
            margin-bottom: 45px;
        }
        div{
            a{
                padding: 15px;
                border-radius: 10px;
                border: 2px darkviolet solid;
                &:hover{
                border: 2px #c77dff solid;
                }
            }
        }
    }
}

/* SECTION CARROUSEL*/
.sectionCarrousel{
    background-image: url(../img/fondonegrohumo.png);
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 15px;
    div{
        div{
            div{
                h4{
                    font-size: 20px;
                }
            }
        }
    }
}

/* SECTION 3 + H3 SECTION*/
.h3section{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    border-top: 6px white double;
    border-bottom: 6px white double;
}

.section3{
    @extend %flex;
    div{
        border: 2px darkviolet solid;
        border-radius: 8px;
        margin: 20px;
        width: 15rem;
        height: 24rem;
        padding: 10px;
        font-size: 20px;
        &:hover{
            @extend %efectos;
            border: 3px #c77dff solid;
        }
        img{
            height: 200px;
            width: 200px;
            margin-bottom: 10px;
            border: 2px black solid;
            border-radius: 8px;
        }
        h3{
            font-size: 20px;
            border: 2px darkviolet double;
            margin-top: 15px;
            margin-bottom: 20px;
            padding: 6px;
            border-radius: 10px;
        }
        a{
            padding: 8px;
            border-radius: 10px;
            border: 2px darkviolet solid;
            &:hover{
                border: 2px #c77dff solid;
            }
        }
    }
}

/* SECTION 4 + H4 SECTION */
section{
    .h4section{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
        border-top: 6px white double;
        border-bottom: 6px white double;
    }
}

.section4{
    @extend %flex;
    border-bottom: 2px solid black;
    .divideo{
        border-radius: 8px;
        font-size: 20px;
        width: 16rem;
        height: 26rem;
        padding: 15px;
        margin: 20px 20px 20px 30px;
        &:hover{
            @extend %efectos;
            border: 3px #c77dff solid;
        }
        h4{
            padding-top: 5px;
            padding-bottom: 5px;
            letter-spacing: 1px;
        }
        img{
            height: 220px;
            width: 220px;
            border: 2px black solid;
            border-radius: 8px;
        }
        h3{
            margin-top: 15px;
            margin-bottom: 25px;
            padding: 6px;
            background-color: black;
            border-radius: 8px;
            font-size: 25px;
        }
        a{
            padding: 10px;
            border-radius: 10px;
            border: 2px darkviolet solid;
            &:hover{
                background-image: url(../img/neontarjeta.png);
                border: 2px #c77dff solid;
            }
        }
    }
    .texto{
        p{
            margin: 20px;
            letter-spacing: 1px;
            font-size: 20px;
        }
    }
    div{
        iframe{
            width: 500px;
            height: 350px;
            margin: 20px 30px 20px 20px;
            &:hover{
            @extend %efectos;
            }
        }
    }
}

/* MI CUENTA (INICIO DE SESION) */
main{
    .form1{
        padding: 40px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        form{
            .divmicuenta{
                div{
                    display: grid;
                    padding: 50px;
                    border: 2px white solid;
                }
                label{
                    margin-bottom: 5px;
                }
                input{
                    color: black !important;
                    margin-bottom: 15px;
                    background-color: white;
                    border: 2px darkviolet solid;
                    padding: 10px;
                }
                a{
                    padding: 10px;
                    border-radius: 10px;
                    display: inline-block;
                    border: 2px darkviolet solid;
                    margin-top: 20px;
                }
            }
        }
    }
}
