/* LISTAS */

$colores:
black,
white,
darkviolet;

.h3section, .h4section, .h4section h3, .h4section h4, .divideo a{
    background-color: nth($colores, 1);
}

$fuentes:
12px,
15px,
20px,
30px,
45px;

.div1fot{
    font-size: nth($fuentes, 3);
}

.section1head h1{
    font-size: nth($fuentes, 5);
}

/* EXTEND */ 

%flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

%efectos{
    transform: scale(1.08);
    transition: 300ms;
    object-fit: cover;
}

/* MIXIN */ 

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

footer{
    @include flex (flex, space-between, center)
}

header{
    @include flex (flex, space-between, center)
}

.form1{
    @include flex (flex, center, center)
}

@mixin textcenter ($center){
    text-align: $center;
}

.h3section, .section3 div, .h4section, .divideo, .divideo h4, .texto p, .divmicuenta label, .divmicuenta a{
    @include textcenter(center)
}

@mixin backgroundset ($center, $cover, $norepeat, $fixed){
    background-position: $center;
    background-size: $cover;
    background-repeat: $norepeat;
    background-attachment: $fixed;
}

main, .iniciar-sesion button{
    @include backgroundset(center, cover, no-repeat, fixed)
}

header, footer, .cuadrado{
    @include backgroundset(center, cover, no-repeat, none)
}

.cuadrado, .section3 div, .section4 .texto, .iniciar-sesion, section form .divmicuenta div, .main2 section div, .main3 div{
    @include backgroundset(center, cover, none, none)
}


/* Animaciones */

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-180px * 6));
        -webkit-transform: translateX(calc(-180px * 6));
    }
}
