/* LISTAS */

$colores:
black,
white,
darkviolet;

$fuentes:
12px,
15px,
20px,
30px;


/* EXTEND */ 

%flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

%efectos{
    transform: scale(1.08);
    transition: 300ms;
    object-fit: cover;
}

/* MIXIN */ 

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

/* Animaciones */

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-180px * 6));
        -webkit-transform: translateX(calc(-180px * 6));
    }
}
